body {
  background-color: #001d27;
  color: #ffffff;
  scrollbar-color: #00bfd3 #00000030;
  font-family: "Gudea", sans-serif;
}

a {
  color: #00bfd3;
}

html {
  scrollbar-width: none;
}

/* macOS WebView scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
  background-color: #001d27;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #001d27;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #00bfd3;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00a3b3;
}
